*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    background-color: #f5f5f5 !important;
    color: #4e4e4e !important;
}

/* header */

.header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/intro-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* nav */

nav a {
    color: #0078ff !important;
    font-weight: 600 !important;
    font-size: 1.7rem !important;
}

.navbar-nav a {
    font-size: 1rem !important;
    text-transform: uppercase !important;
}

.navbar-nav {
    width: 55% !important;
    justify-content: space-between !important;
}

.nav-link::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background-color: #0078ff;
    display: block;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
}
.nav-link:hover:after{
    width: 60%;
}

/* header-cont */

.header-cont {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-cont h1 {
    font-size: 4.5rem;
    color: white;
    font-weight: 600;
    padding: 5px;
}

.header-cont p::after {
    content: '|';
    color: white;
    font-size: 3rem;
    padding-left: 1px;
}

.header-cont p::before {
    content: '';
    color: white;
    font-size: 2.4rem;
    animation-name: header-cont;
    animation-duration: 20s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes header-cont {
    0% {
        content: 'CEO DevFolio';
    }
    10% {
        content: 'CEO DevFolio';
    }
    10.5% {
        content: 'CEO DevFoli';
    }
    11% {
        content: 'CEO DevFol';
    }
    11.5% {
        content: 'CEO DevFo';
    }
    12% {
        content: 'CEO DevF';
    }
    12.5% {
        content: 'CEO De';
    }
    13% {
        content: 'CEO D';
    }
    13.5% {
        content: 'CEO ';
    }
    14% {
        content: 'CEO';
    }
    14.5% {
        content: 'CE';
    }
    15% {
        content: 'C';
    }
    15.5% {
        content: '';
    }
    16% {
        content: 'W';
    }
    16.5% {
        content: 'We';
    }
    17% {
        content: 'Web';
    }
    17.5% {
        content: 'Web ';
    }
    18% {
        content: 'Web D';
    }
    18.5% {
        content: 'Web De';
    }
    19% {
        content: 'Web Dev';
    }
    19.5% {
        content: 'Web Deve';
    }
    20% {
        content: 'Web Devel';
    }
    20.5% {
        content: 'Web Develo';
    }
    21% {
        content: 'Web Develop';
    }
    21.5% {
        content: 'Web Develope';
    }
    22% {
        content: 'Web Developer';
    }
    32% {
        content: 'Web Developer';
    }
    32.5% {
        content: 'Web Develope';
    }
    33% {
        content: 'Web Develop';
    }
    33.5% {
        content: 'Web Develo';
    }
    34% {
        content: 'Web Devel';
    }
    35.5% {
        content: 'Web Deve';
    }
    36% {
        content: 'Web Dev';
    }
    36.5% {
        content: 'Web De';
    }
    37% {
        content: 'Web Des';
    }
    37.5% {
        content: 'Web Desi';
    }
    38% {
        content: 'Web Desig';
    }
    38.5% {
        content: 'Web Design';
    }
    39% {
        content: 'Web Designe';
    }
    39.5% {
        content: 'Web Designer';
    }
    50% {
        content: 'Web Designer';
    }
    50.5% {
        content: 'Web Designe';
    }
    51% {
        content: 'Web Design';
    }
    51.5% {
        content: 'Web Desig';
    }
    52% {
        content: 'Web Desi';
    }
    52.5% {
        content: 'Web Des';
    }
    53% {
        content: 'Web De';
    }
    53.5% {
        content: 'Web D';
    }
    54% {
        content: 'Web ';
    }
    54.5% {
        content: 'Web';
    }
    55% {
        content: 'We';
    }
    55.5% {
        content: 'W';
    }
    56% {
        content: '';
    }
    56.5% {
        content: 'F';
    }
    57% {
        content: 'Fr';
    }
    57.5% {
        content: 'Fro';
    }
    58% {
        content: 'Fron';
    }
    58.5% {
        content: 'Front';
    }
    59% {
        content: 'Fronte';
    }
    59.5% {
        content: 'Fronten';
    }
    60% {
        content: 'Frontend';
    }
    60.5% {
        content: 'Frontend ';
    }
    61% {
        content: 'Frontend D';
    }
    61.5% {
        content: 'Frontend De';
    }
    62% {
        content: 'Frontend Dev';
    }
    62.5% {
        content: 'Frontend Deve';
    }
    63% {
        content: 'Frontend Devel';
    }
    63.5% {
        content: 'Frontend Develo';
    }
    64% {
        content: 'Frontend Develop';
    }
    64.5% {
        content: 'Frontend Develope';
    }
    65% {
        content: 'Frontend Developer';
    }
    75% {
        content: 'Frontend Developer';
    }
    75.5% {
        content: 'Frontend Develope';
    }
    76% {
        content: 'Frontend Develop';
    }
    76.5% {
        content: 'Frontend Develo';
    }
    77% {
        content: 'Frontend Devel';
    }
    77.5% {
        content: 'Frontend Deve';
    }
    78% {
        content: 'Frontend Dev';
    }
    78.5% {
        content: 'Frontend De';
    }
    79% {
        content: 'Frontend D';
    }
    79.5% {
        content: 'Frontend ';
    }
    80% {
        content: 'Frontend';
    }
    80.5% {
        content: 'Fronten';
    }
    81% {
        content: 'Fronte';
    }
    81.5% {
        content: 'Front';
    }
    82% {
        content: 'Fron';
    }
    82.5% {
        content: 'Fro';
    }
    83% {
        content: 'Fr';
    }
    83.5% {
        content: 'F';
    }
    84% {
        content: '';
    }
    85% {
        content: 'C';
    }
    86% {
        content: 'CE';
    }
    87% {
        content: 'CEO';
    }
    88% {
        content: 'CEO';
    }
    89% {
        content: 'CEO ';
    }
    90% {
        content: 'CEO D';
    }
    91% {
        content: 'CEO De';
    }
    92% {
        content: 'CEO DeF';
    }
    93% {
        content: 'CEO DeF';
    }
    94% {
        content: 'CEO DeFo';
    }
    95% {
        content: 'CEO DeFol';
    }
    96% {
        content: 'CEO DeFoli';
    }
    97% {
        content: 'CEO DeFolio';
    }
    100% {
        content: 'CEO DeFolio';
    }
}

/* sec2 about-me */

/* left */

.sec2-left-ul {
    list-style-type: none;
    padding: 0;
}

.sec2-left-ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.sec2-left-ul li span {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 5px;
}

.sec2-left-bot-cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec2-left-bot-parnt {
    width: 100%;
    height: 10px;
    background-color: #cde1f8;
    margin-bottom: 20px;
}

.sec2-left-bot-parnt div {
    height: 100%;
    background-color: #0078ff;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

/* right */

.sec2-right h2 span {
    border-bottom: 4px solid #0078ff;
    padding-right: 10px;
}

.sec2-right p {
    font-size: 1.3rem;
}

/* sec3 Services */

/* sec3-header */

.sec3 h2 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.sec3-p:after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 5%;
    background-color: #0078ff;
    height: 6px;
}

/* sec3-cont */

.sec3-cont-chil {
    background-color: white;
    padding: 30px 10px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5%;
}

.sec3-cont-icon {
    width: 120px;
    height: 120px;
    border: 10px solid #0078ff;
    border-radius: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    margin: 20px;
}

.sec3-cont-icon i {
    font-size: 3rem;
}

.sec3-cont-chil:hover .sec3-cont-icon {
    background-color: #0078ff;
    border-color: #cde1f8;
}

.sec3-cont-chil:hover .sec3-cont-icon i {
    color: #ffffff;
}

/* sec4 */

.sec4 {
    background: linear-gradient(rgba(0, 120, 255, 0.7), rgba(0, 120, 255, 0.7)), url(../img/counters-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sec4-cont {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    color: #fff;
}

.sec4-cont-icon {
    width: 90px;
    height: 90px;
    border: 10px solid #cde1f8;
    border-radius: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
    margin: 20px;
}

.sec4-cont-icon i {
    font-size: 2rem;
    color: #fff;
}

/* sec5 Portfolio */

/* sec5 header */

.sec5 h2 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.sec5-p:after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 5%;
    background-color: #0078ff;
    height: 6px;
}

/* sec5-cont */

.sec5-cont-chil {
    background-color: white;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    border-radius: 2%;
}

.sec5-cont-img img {
    transition: all .5s ease-in-out;
}

.sec5-cont:hover .sec5-cont-img img {
    transform: scale(1.2, 1.2);
}

.sec5-cont-desc {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 10px 20px;
}

.sec5-cont-desc-did h3 {
    font-size: 1.3rem;
    color: black;
}

.sec5-cont-desc-did p {
    font-size: .9rem;
}

.sec5-cont-desc-did p span {
    color: #0078ff;
}

.sec5-cont-desc-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 2px #0078ff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sec5-cont-desc-icon i {
    font-size: 1.4rem;
    color: #0078ff;
}

/* sec6 */

.sec6 {
    background: linear-gradient(rgba(0, 120, 255, 0.7), rgba(0, 120, 255, 0.7)), url(../img/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.sec6-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding:0 10px;
}

.sec6-img {
    margin: 30px 0 20px;
}

.sec6-img img {
    border-radius: 50%;
}

.sec6-desc {
    text-align: center;
    color: white;
}

.sec6-desc h2 {
    font-size: 1.7rem;
}

.sec6-desc p {
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: 300;
    width: 80%;
}

.sec6-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.sec6-icon i {
    color: #0078ff;
    font-size: 1.8rem;
}

.sec6-but1 {
    padding: 3px 8px;
    background-color: #cde1f8;
    border: none;
}

.sec6-but2 {
    padding: 3px 12px;
    background-color: #1b1b1b;
    border: none;
}

/* sec7  Blog */

/* sec7 header */

.sec7 h2 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.sec7-p:after {
    content: '';
    display: block;
    margin: 20px auto;
    width: 5%;
    background-color: #0078ff;
    height: 6px;
}

/* sec7-cont */

.sec7-cont-chil {
    background-color: white;
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    border-radius: 4%;
}

.sec7-cont-desc {
    display: flex;
    position: relative;
    flex-flow: wrap column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 10px 0;
}

.sec7-cont-desc h3 {
    font-size: 1.3rem;
    color: black;
    transition: color .3s ease-in-out;
}
.sec7-cont-desc h3:hover{
    color: #0078ff;
    cursor: pointer;
}

.sec7-cont-desc p {
    font-size: 1rem;
}

.sec7-cont-box {
    background-color: #0078ff;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec7-cont-box p{
    margin: 0;
    font-weight: 300;
    font-size: .8rem;
}
/* sec7-bot */
.sec7-cont-bot {
    margin: 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap row;
    padding: 8px 10px;
    background-color: #f5f5f5;
    border-top: solid 1px #f0f0f0;
}

.sec7-bot-right {
    margin: 0;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap row;
    width: 70%;
    vertical-align: middle;
}

.sec7-bot-right p {
    margin: auto 8px;
    transition: color .3s ease-in-out;
}

.sec7-bot-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap row;
    width: 15%;
}

.sec7-bot-right p:hover {
    color: #0078ff;
    cursor: pointer;
}
/* sec8 form */
.sec8{
    background: linear-gradient(rgba(0, 120, 255, 0.7), rgba(0, 120, 255, 0.7)), url(../img/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* left */
.sec8-left-header h2{
    margin-bottom: 30px;
}
.sec8-left-header h2 span{
    padding:0 15px 5px 0;
    border-bottom: solid 5px #0078ff;
}
.sec8-left-form{
    width: 100%;
    display: flex;
}
.sec8-left-form form{
    display: flex;
    flex-flow: column wrap ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sec8-left-form form input{
    width: 100%;
    height: 45px;
    padding: 15px;
    margin-bottom: 25px;
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 4%;
    transition: all .3s ease-in-out;
}
.sec8-left-form form input:hover{
    box-shadow: 0 0  7px 0 rgb(21, 172, 126);
    border: solid 1px rgba(0, 0, 0, .2);
}
.sec8-left-form form input:focus{
    box-shadow: 0 0  7px 0 rgba(0, 120, 255, 0.7);
    border: solid 1px rgba(0, 0, 0, .2);
}
.sec8-left-form form textarea{
    width: 100%;
    padding: 15px;
    height: 150px;
    resize: unset;
    margin-bottom: 25px;
    border: solid 1px rgba(0, 0, 0, .2);
    border-radius: 4%;
    transition: all .3s ease-in-out;
}

.sec8-left-form form textarea:hover{
    box-shadow: 0 0  7px 0 rgb(21, 172, 126);
    border: solid 1px rgba(0, 0, 0, .2);
}
.sec8-left-form form textarea:focus{
    box-shadow: 0 0  7px 0 rgba(0, 120, 255, 0.7);
    border: solid 1px rgba(0, 0, 0, .2);
}

.sec8-left-form form button{
    padding: 10px 30px;
    background-color: #0078ff;
    color: white;
    font-size: 1.3rem;
    border: 2px solid transparent;
    border-radius: 5rem;
}
.sec8-left-form form button:hover{
    border: 2px solid #cde1f8;
    background-color: #3393ff;
}

/* right */

.sec8-right-header h2{
    margin-bottom: 30px;
}
.sec8-right-header h2 span{
    padding:0 15px 5px 0;
    border-bottom: solid 5px #0078ff;
}
.sec8-right-cont{
    margin-top: 30px;

}
.sec8-right-cont p{
    font-size: 1.3rem;
    font-weight: 300;
    margin: 30px 0;

}
.sec8-right-cont ul{
    list-style-type: none;
    margin: 20px 0;
}
.sec8-right-cont-block i{
    margin: 0 10px 15px 0;
    color: #0078ff;
}
.sec8-right-cont-inline li{
    margin: 0 15px 0 0;
    display: inline-flex;
    width: 50px;
    height: 50px;
    padding: 20px;
    border: 3px solid #0078ff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.sec8-right-cont-inline li i{
    font-size: 1.5rem;
    color: black;
}
.sec8-right-cont-inline li:hover{
    background-color: #0078ff;
    border-color: #cde1f8;
}
.sec8-right-cont-inline li:hover  i {
    color: white;
}
/* footer */
.footer{
    background-color: #0062d3;
    padding: 20px 0;
}
.footr-flex p ,a{
    color: white;
    transition: all 0.3s ease-in-out;
}
.footr-flex p a:hover{
    color: tomato;
    text-decoration: none;
}